// This file shares project-specific constants between node.js and the web app
// https://gist.github.com/drmikecrowe/4bf0938ea73bf704790f

/* jshint ignore:start */
(function(window) {
    var config = {

        // FULL PATH TO SVG FILES

        // FULL_SVG_PATH: '/Users/owenmundy/Sites/_teaching/_code_web/svg-randomizer/tests/sample-svg-input',
        // FULL_SVG_PATH: '/Users/joelledietrick/Dropbox (Davidson College)/Sneakaway Studio/Chasing the Sun/Artwork/UTC-ORIGINALS'
        FULL_SVG_PATH: '/Volumes/GoogleDrive-102724189768272292084/My\ Drive/Art\ \(Dietrick\ Studio\)/_Artwork\ Process/Chasing\ the\ Sun/Artwork/UTC-ORIGINALS',

		// USE TEST DIRECTORY (DEV ONLY)
		USE_TEST_SVG_DIR: 0,

    };
    if (typeof module === 'object' && module && typeof module.exports === 'object') {
        module.exports = config;
    } else {
        window.CONFIG = config;
    }
})(this);
/* jshint ignore:end */
